  recursive-include mcpartools *.py *.sh *.json
  exclude *.sh *.yml *.ini *.txt *.spec .gitkeep .coveragerc
  exclude versioneer.py LICENSE CODE_OF_CONDUCT.md
  prune docs
  prune .travis
  prune tests
include versioneer.py
include mcpartools/_version.py
