  recursive-include mcpartools *.py *.sh *.json
  include .pre-commit-config.yaml
  include *.toml
  exclude *.sh *.yml *.ini *.txt *.spec .gitkeep .coveragerc
  exclude CODE_OF_CONDUCT.md
  exclude mcpartools/_version.py
  prune docs
  prune tests
