  include *.rst
  include *.txt
  include *.py
  include LICENSE
  include requirements.txt
  include tests/requirements-test.txt
  recursive-include docs *.py
  recursive-include docs *.rst
  recursive-include mcpartools *.py
  recursive-include tests *.py
  include versioneer.py
  include mcpartools/_version.py
  include install_deps.sh
  include mcpartools/mcengine/data/*.sh
  include mcpartools/scheduler/data/*.sh
  include tests/res/*.inp
  include tests/res/shieldhit/*.dat
  include tests/manual/*.sh
  include *.sh
  include wercker.yml
  include *.spec

  prune .travis
  exclude .gitkeep
  exclude .gitconfig
  exclude tox.ini
  exclude .travis.yml
  exclude *.sh