# micro-language and markers are described here: https://www.python.org/dev/peps/pep-0496/
versioneer<0.18
# pytest v 3.0, released in 08.2016 doesn't work well with Python 3.2
pytest<3.0 ; python_version >= '3.2' and python_version < '3.3' # py 3.2
pytest ; python_version < '3.0' or python_version >= '3.3' # py different than 3.2
pytest-capturelog
pytest-timeout
pytest-xdist
pytest-cov<2.0 ; python_version >= '3.2' and python_version < '3.3' # some annotation fails for py3.2
pytest-cov ; python_version < '3.0' or python_version >= '3.3' # other than py3.2
tox