# micro-language and markers are described here: https://www.python.org/dev/peps/pep-0496/
versioneer<0.18
pytest==7.2.0
pytest-catchlog==1.2.2
pytest-timeout==2.1.0
pytest-xdist==3.0.2
pytest-cov==3.0.0
tox==3.27.1
