# micro-language and markers are described here: https://www.python.org/dev/peps/pep-0496/
versioneer<0.18
pytest==7.3.1
pytest-catchlog==1.2.2
pytest-timeout==2.1.0
pytest-xdist==3.2.1
pytest-cov==4.0.0
tox==4.5.0
